* {
    background-color: gray;
    color:white;
}

img {
    display: block;
    height: 300px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

body {
    margin-left: 8%;
    margin-right: 5%;
    text-align: justify;
}
p {
}

H1 {
    text-align: center;
}


.columns img{ 
float: left;
text-align: justify;
width: 33.33%;
}

div .row:after {
    content="";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
    
}